.App {
  text-align: center;
}

body {
  margin: auto;
  width: 885px;
  font: 10px arial;
  padding: 25px;
}
.line {
  fill: none;
  stroke-width: 3;
}
.y-axis line {
	opacity:.2;
}
.y-axis path {
	display:none;
}

